@import "variables";
@import "mixins";

.header {
    &-intro {
    background-image: url(../img/background-header.jpg);
    background-size: cover;
    }

    &-title {
        line-height: 1;
    }
}

.made {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.reviews {
    background-image: url(../img/background-review.jpg);
    background-size: cover;
}
